.header, h1{
  font-family: helvetica;
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  color: khaki;
  background-image: url("https://goo.gl/5yD2m3");
}

.brushes{
  font-family: helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: mediumspringgreen;
}

.frames{
  font-family: helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: lightcoral;
}

.paint{
  font-family: helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: skyblue;
}

.info, h3, p{
  font-family: helvetica;
}

#price{
  color: blue;
  font-family: Helvetica;
}
